.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 282px;
    background-color: var(--cinza2);
    box-shadow: 10px 10px 5px var(--preto);
}   

.capa {
    width: 100%;
}

.container h2,
.favoritar {
    padding: 0 1em;
}

.container h2 {
    text-align: center;
}

.favoritar {
    width: 25px;
}

.link {
    text-decoration: nome;
    color: var(--preto);
    text-align: left;
}

.container:hover {
    transform: scale(1.15);
}


@media (max-width: 767px) {
    .container h2 {
        font-size: 1.2rem;
        word-break: break-all;
    }
 }
 