:root {
    --fonte: 'Montserrat', sans-serif;
    --banco: #ffffff;
    --preto: #000000;
    --cinza: #e2e2e2;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 282px;
    background-color: var(--cinza);

}

.capa {
    width: 100%;
}

.container h2,
.favoritar {
    padding: 0 1em;
}

.favoritar {
    width: 25px;
}

.link {
    text-decoration: nome;
    color: var(--preto);
    text-align: left;
}