:root {
  --fonte: 'Montserrat', sans-serif;
  --banco: #ffffff;
  --preto:#000000;
  --cinza: #e2e2e2;
  --cinza2: #c9c6c6; 

}


body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--cinza);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
